<form [formGroup]="cloudForm">
  <h2 class="headline">Ich bin in einer Cloud hui</h2>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Was geht</mat-label>
    <input class="input" matInput placeholder="yo" [(ngModel)]="value" type="text" [formControl]="input">
  </mat-form-field>
  <button class="button" type="submit" mat-raised-button color="primary" (click)="save()">Speichern</button>
</form>
<button class="loadButton" mat-raised-button color="primary" (click)="fetch()">Lade Daten</button>
<ul class="mat-list-base">
  <li class="mat-list-item" *ngFor="let contentObject of loadedContentObjects">
    <h1>{{contentObject.id}}</h1>
    <p>{{contentObject.content}}</p>
  </li>
</ul>
